{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 125,
    "plugins": ["prettier-plugin-tailwindcss", "@prettier/plugin-php"],
    "phpVersion" : "8.4",
    "tailwindFunctions": ["clsx", "cn", "cva"],
    "tailwindStylesheet": "resources/css/app.css",
    "tabWidth": 4,
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
